@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,500;1,600;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
   
}

.home{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to top, rgba(0,0,0, 0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0)), url(./garnet/test.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home .header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 7rem;
}

.home .header .nav_links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.home .header .nav_links a{
    margin: 0 5px;
    color: #fff;
    font-size: 17px;
    transition: 0.5s ease;
}

.home .header .nav_links a:hover,
.home .header .nav_links a.active{
    color: red;
}

.home .header .social{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .header .social i{
    font-size: 18px;
    color: red;
    background: #fff;
    margin-right: 14px;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    transition: 0.5s ease;
}

.home .header .social i:hover{
    color: #fff;
    background-color:red;
}

.jb-division-line1 {
    margin: 30px auto;
    width: 100%;
    height: 80px;
  }

.home .main-content{
    padding: 6rem 7rem;
}


.home .main-content h1{
    font-size: 75px;
    color: #900020;
    text-align: right;
}

/* .home .main-content p{
    color: #fff;
    padding: 12px 0;
    text-align: right;
} */

.program .program-header h1{
    font-size: 80px;
    color: #900020;
    padding-bottom: 30px;
    text-align: center;
}

.program .program-header p{
    font-size: 35px;
    color: #0c1a23;
    padding-bottom: 30px;
    text-align: center;
}


.program .main-program{
    padding: 10%;
    margin: 0.2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.program .main-program .program-col img{
    width:100%;
    object-fit: cover;
}

.program .main-program .program-col h5{
    font-size: 20px;
    color: #900020;
    padding-bottom: 18px;
}

.program .main-program .program-col p{
    color: #0c1a23;
    font-size: 16px;
    padding-bottom: 12px;
}

.program .main-program .program-col a{
    font-size: 17px;
    display: inline-block;
    color: #900020;
}

.program .main-program .program-col a i{
    text-align: middle;
    font-size: 20px;
    padding-top: 20px;
}

@media(max-width:991px){
    .program .main-program{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:450px){
    .program .program-header h1{
        font-size: 24px;
    }

    .program .main-program{
        grid-template-columns: 1fr;
    }
}

.trainer{
    padding: 0%;
    margin: 0%;
}

.trainer .introduction h1{
    font-size: 80px;
    color: #900020;
    text-align:center;
    padding-bottom: 30px;
}

.trainer .img{
    border-radius:3%;
    width: 20%;
    height: 20%;
    overflow: hidden;
}
.trainer .li {
    list-style: none;
  }
  .kind_wrap {
    border:2px solid black; 
    width:100%; 
    max-width:900px; 
    margin:0 auto; 
    position: relative;
  }
  .kind_wrap > .kind_slider {
    overflow: hidden;
  }
  .kind_wrap > .kind_slider .slider { 
    position: relative; 
    transition: 0.5s;
  }
  .kind_wrap > .kind_slider .slider li {
    float:left;
  }
  .kind_wrap > .kind_slider img {
    vertical-align: top;
  }
  .kind_wrap .arrow > a.prev {
    position: absolute; 
    left:-50px; 
    top:300px;
  }
  .kind_wrap .arrow > a.next {
    position: absolute; 
    right:-50px; 
    top:300px;
  }
  

.footer{
    background-color: black;
    width: 100%;
    margin: 0%;
    padding: 3%;
}

.footer .infor{
    color: #fff;
    text-align: center;
    font-size: 13px;
}


.footer .container{
    font-size: 10px;
    
}

